@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        LeVCarStore<br />
        Hà Đông, Hà Nội<br />
        <abbr title="Phone">PHONE:</abbr>
        0869604227
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Vanyus1505@gmail.com">Vanyus1505@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:LeVCarStore@gmail.com">LeVCarStore@gmail.com</a>
    </address>
</main>